<div class="uk-section">
    <div class="uk-container">
        <h1>Our Products</h1>
        <div class="uk-grid-small uk-child-width-1-4@s uk-grid-match" uk-grid>
            {{#each products}}
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src={{this.thumbnail}} alt={{this.title}}>
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">{{this.title}}</h3>
                        <p>Price: ${{this.price}}</p>
                        <p>Stock: {{this.stock}}</p>
                        {{#if ../user}}
                        {{#ifEqualsOrAdmin ../user._id this.owner._id ../user.role}}
                        <a href="/products/edit/{{this._id}}" class="uk-button uk-button-default uk-button-small">Edit</a>
                        <button class="uk-button uk-button-small uk-button-danger delete-btn" data-id="{{this._id}}">Delete</button>
                        {{/ifEqualsOrAdmin}}
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteButtons = document.querySelectorAll('.delete-btn')
        deleteButtons.forEach(button => {
            button.addEventListener('click', function () {
                const productId = this.getAttribute('data-id')
                UIkit.modal.confirm(
                    'Are you sure?'
                ).then(async function () {
                    try {
                        const response = await fetch(`/api/products/${productId}`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })

                        if (response.ok) {
                            window.location.href = '/products'
                        } else {
                            const result = await response.json()
                            alert(result.message)
                        }
                    } catch (error) {
                        console.error('Error:', error)
                        alert('An error occurred while deleting product.')
                    }
                })
            })
        })
    })
</script>