<div class="uk-section">
    <div class="uk-container">
        <h1 class="uk-heading-divider uk-heading-bullet">Our Products</h1>
        {{#if user}}
        {{#ifEqualsOrAdmin user.role 'premium' user.role}}
        <button class="uk-button uk-button-primary uk-margin-bottom" onclick="window.location.href='/my-products'">My Products</button>
        {{/ifEqualsOrAdmin}}
        {{/if}}
        <div class="uk-grid-small uk-child-width-1-4@s uk-grid-match" uk-grid>
            {{#each products}}
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src={{this.thumbnail}} width="639px" height="639px" {{this.title}}>
                    </div>
                    <div class="uk-card-body">
                        <div class="uk-card-badge uk-label">Stock: {{this.stock}}</div>
                        <h3 class="uk-card-title">{{this.title}}</h3>
                        <p>Price: ${{this.price}}</p>
                        {{#if ../user}}
                        {{#ifEqualsOrAdmin ../user._id this.owner._id ../user.role}}
                        <div class="uk-flex uk-margin-bottom">
                            <a href="/products/edit/{{this._id}}" class="uk-button uk-button-default uk-button-small uk-width-1-2">Edit</a>
                            <button class="uk-button uk-button-small uk-button-danger uk-width-1-2 delete-btn" data-id="{{this._id}}">Delete</button>
                        </div>
                        {{/ifEqualsOrAdmin}}
                        <button class="uk-button uk-button-primary uk-width-1-1 uk-position-bottom add-to-cart-btn" data-id="{{this._id}}"{{#ifEquals ../user._id this.owner._id}}uk-tooltip="You can't buy this product" disabled{{/ifEquals}}>Add to Cart</button>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

{{#if user}}
<div id="delete-confirm-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Are you sure?</h2>
        <p>Do you really want to delete this product?</p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-danger" id="confirm-delete-btn" type="button">Yes</button>
        </p>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteButtons = document.querySelectorAll('.delete-btn')
        let productId
        deleteButtons.forEach(button => {
            button.addEventListener('click', function () {
                productId = this.getAttribute('data-id')
                UIkit.modal('#delete-confirm-modal').show()
            })
        })
        const confirmDeleteButton = document.getElementById('confirm-delete-btn')
        confirmDeleteButton.addEventListener('click', async function () {
            if (productId) {
                try {
                    const response = await fetch(`/api/products/${productId}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })

                    if (response.ok) {
                        window.location.href = '/products'
                    } else {
                        const result = await response.json()
                        alert(result.message)
                    }
                } catch (error) {
                    console.error('Error:', error)
                    alert('An error occurred while deleting product.')
                }
            }
        })

        const addToCartButtons = document.querySelectorAll('.add-to-cart-btn')
        addToCartButtons.forEach(button => {
            button.addEventListener('click', async function () {
                const productId = this.getAttribute('data-id')
                try {
                    const response = await fetch('/api/carts/add', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ productId, quantity: 1 })
                    })

                    if (response.ok) {
                        UIkit.notification({ message: 'Product added to cart', status: 'success' })
                    } else {
                        const result = await response.json()
                        UIkit.notification({ message: result.message, status: 'danger' })
                    }
                } catch (error) {
                    console.error('Error:', error)
                    UIkit.notification({ message: 'An error occurred while adding product to cart.', status: 'danger' })
                }
            })
        })
    })
</script>
{{/if}}